# Build folders
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider / VS Code
.idea/
.vscode/

api-app/firebase.json

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Environment files
.env

# Firebase service account keys
*firebase-adminsdk*.json

# Test results
TestResults/

# NuGet
*.nupkg
packages/

# Publish output
publish/